<header>

    <input type="checkbox" id="menu">
    <label for="menu">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
    </label>

    <nav class="navbar">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Сведения об образовательной организации <i class="fas fa-arrow-circle-down"></i></a>
                <ul>
                    <li><a href="#">Основные сведения</a></li>
                    <li><a href="#">Структура и органы управления образовательной организации</a></li>
                    <li><a href="#">Документы</a></li>
                    <li><a href="#">Образование</a></li>
                    <li><a href="#">Руководство</a></li>
                    <li><a href="#">Педагогический состав</a></li>
                    <li><a href="#">Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда</a></li>
                    <li><a href="#">Платные образовательные услуги</a></li>
                    <li><a href="#">Финансово-хозяйственная деятельность</a></li>
                    <li><a href="#">Вакантные места для приёма (перевода) обучающихся</a></li>
                    <li><a href="#">Стипендии и меры поддержки обучающихся</a></li>
                    <li><a href="#">Международное сотрудничество</a></li>
                    <li><a href="#">Организация питания в образовательной организации</a></li>
                    <li><a href="#">Образовательные стандарты и требования</a></li>
                </ul>
            </li>
            <li><a href="#">Учебный процесс <i class="fas fa-arrow-circle-down"></i></a>
                <ul>
                    <li><a href="#">Учебно производственная работа</a></li>
                    <li><a href="#">Воспитательная работа</a></li>
                </ul>
            </li>
            <li><a href="#">Абитуриенту <i class="fas fa-arrow-circle-down"></i></a>
                <ul>
                    <li><a href="#">Приемная комиссия</a></li>
                    <li><a href="#">СПО-успех</a></li>
                </ul>
            </li>
            <li><a href="#">Студенту <i class="fas fa-arrow-circle-down"></i></a>
                <ul>
                    <li><a href="#">Расписание</a></li>
                    <li><a href="#">Движение первых "ЛМСК"</a></li>
                    <li><a href="#">Студенческий спортивный клуб "ЛМСК"</a></li>
                    <li><a href="#">Заочное отделение</a></li>
                </ul>
            </li>
            <li><a href="#">Выпускнику <i class="fas fa-arrow-circle-down"></i></a>
                <ul>
                    <li><a href="#">Трудоустройство</a></li>
                    <li><a href="#">Дубликаты документов об образовании</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>